// Colores
$white: #FFF;
$Platinum: #E6E7E7;
$Lightgray: #D1D1D1;
$Fuzzywuzzy: #E56353;
$Rudypink: #D76C69;
$Spanishpink: #ECBCBA;
$Eerieblack: #121619;
$Raisinblack: #222323;
$Nickel: #6C6E70;


// Tipografias
$Roboto: 'Roboto', serif;
$Playfair: 'Playfair Display', serif;

//Peso de Fuente
$Light: 300;
$Regular: 400;
$Bold: 700;

//Estilo de Fuente
$Normal: normal;
$Italic: italic;


// Tamaño de Fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
